.ice-color-white{
	color: #000;
	background-color: #fff;
}
.ice-color-geen-1{
	color: #fff;
	background-color: #1bbc9d;
}
.ice-color-geen-2{
	color: #fff;
	background-color: #16A086;
}
.ice-color-geen-3{
	color: #fff;
	background-color: #2FCC71;
}
.ice-color-geen-4{
	color: #fff;
	background-color: #27AE61;
}
.ice-color-yellow-1{
	color: #fff;
	background-color: #F1C40F;
}
.ice-color-yellow-2{
	color: #fff;
	background-color: #F49C14;
}
.ice-color-orange-1{
	color: #fff;
	background-color: #E77E23;
}
.ice-color-orange-2{
	color: #fff;
	background-color: #D55401;
}
.ice-color-blue-1{
	color: #fff;
	background-color: #3598DC;
}
.ice-color-blue-2{
	color: #fff;
	background-color: #2A80B9;
}
.ice-color-red-1{
	color: #fff;
	background-color: #E84C3D;
}
.ice-color-red-2{
	color: #fff;
	background-color: #C1392B;
}

.ice-color-purple-1{
	color: #fff;
	background-color: #9C59B8;
}
.ice-color-purple-2{
	color: #fff;
	background-color: #8F44AD;
}