.ice-bar {
    position: relative;
    width: 100%;
    background: #a5a5a5;
}
.ice-bar div {
    display: block;
    position: relative;
    background: #297fb8;
    height: 2%;
}
.ice-bar-custom{
  position: relative;
    width: 100%;
    background: #a5a5a5;
}
.ice-bar-custom div{
    display: block;
    position: relative;
    height: 2%;
}