

a {
  text-decoration: none;
}




.ice-menu {

  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #2c3d4f;
  z-index: 3;
}
.ice-menu:after {
  content: "";
  display: table;
  clear: both;
}



.ice-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("img/ice-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}

.ice-menu-logo {
   font-weight: bold;
  top: 0;
  left: 0;
    float: left;
   line-height: 50px;
    padding: 0 20px;
    min-height: 50px;
    color: #fff;
     background-color: #297fb8;

   
}
.ice-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.ice-main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.ice-main-nav a {
  display: block;
   font-size: 13px;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2e313d;
  border-top: 1px solid #353846;
  color: #FFF;
}
.ice-main-nav a:hover {
  background: #297fb8;

}
@media only screen and (min-width: 768px) {
  .ice-menu {
    height: 70px;
  }
  .ice-menu-logo{
     line-height: 70px;
     height: 70px;
  }
  .ice-main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }

  .ice-main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .ice-main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .ice-main-nav li {
    display: inline-block;
    margin-left: 1em;
     font-size: 13px;
    cursor: pointer;
    -webkit-transition: padding .05s linear;
    -moz-transition: padding .05s linear;
    -ms-transition: padding .05s linear;
    -o-transition: padding .05s linear;
    transition: padding .05s linear;
  }
  .ice-main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    font-size: 13px;
    font-size: 0.8125rem;
    text-transform: uppercase;
  }
  .ice-main-nav a:hover {
  background: none;

}
}



@media only screen and (min-width: 1170px) {

.ice-content {
  position: relative;
  padding: 2em 0;
  line-height: 1.6;
  z-index: 2;
}
.ice-content::before {
  /* subtle gradient right above the main content */
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 50px;
  background: -webkit-linear-gradient( bottom , rgba(46, 49, 61, 0.5), rgba(46, 49, 61, 0));
  background: linear-gradient(to top, rgba(46, 49, 61, 0.5), rgba(46, 49, 61, 0));
}
}
.ice-menu-fixed{
  position: fixed;
}

.ice-intro-bigimg {
  height: 100%;
  width: 100%;
  background: url("") no-repeat center fixed;
  background-size: cover;
  box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.5);
}

.ice-menu-hover a:hover {
  background: #297fb8;

}
.ice-menu-lucency{
  background: none;
}

.ice-menu-lucency .ice-menu-logo{
  background: none;
}
