	.ice-table {
	    width: 100%;
	    margin-bottom: 15px;
	    border-collapse: collapse;
	    border-spacing: 0;
	}
	.ice-table caption {
	    text-align: left;
	    color: #a5a5a5;
	}
	.ice-table caption, .ice-table tfoot {
	    font-size: 12px;
	    font-style: italic;
	}
	.ice-table th {
	    text-align: left;
	}
	.ice-table th, .ice-table td {
	    padding: 8px;
	    border-bottom: 1px solid #e5e5e5;
	}
	.ice-table td {
	    vertical-align: top;
	}
	.ice-table-hover tbody tr:hover {
	    color: #fff;
	    background-color: #3598db;
	}
	.ice-table-striped tr:nth-child(odd) > td {
	    background-color: #e5e5e5;
	}


