.ice-form legend {
    width: 100%;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
}
.ice-form select, .ice-form textarea, .ice-form input:not([type]), .ice-form input[type=text], .ice-form input[type=password], .ice-form input[type=datetime], .ice-form input[type=datetime-local], .ice-form input[type=date], .ice-form input[type=month], .ice-form input[type=time], .ice-form input[type=week], .ice-form input[type=number], .ice-form input[type=email], .ice-form input[type=url], .ice-form input[type=search], .ice-form input[type=tel], .ice-form input[type=color] {
    height: 30px;
    max-width: 100%;
    padding: 4px 6px;
    border: 1px solid #e5e5e5;
    background: #fff;
    color: #666;
    transition: all linear .2s;
}
.ice-form input[type=radio], .ice-form input[type=checkbox] {
    display: inline-block;
    height: 13px;
    width: 13px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: 0;
    background: 0 0;
}
.ice-form input[type=checkbox]:checked:before {
    content: "\f00c";
    font-family: 'icefont';
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    line-height: 11px;
    color: #297fb8;
}
.ice-form input[type=radio]:checked:before {
    content: "■";
    font-family: 'icefont';
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    line-height: 11px;
    color: #297fb8;
}
.ice-onerow+.ice-onerow {
    margin-top: 10px;
}
.ice-form textarea {
    min-height: 80px;
}
.ice-form-icon {
    position: relative;
    display: inline-block;
    max-width: 100%;
}
.ice-form-icon>[class*=ice-icon-] {
    position: absolute;
    top: 50%;
    width: 30px;
    margin-top: -7px;
    font-size: 14px;
    color: #999;
    text-align: center;
    pointer-events: none;
}
[class*=ice-icon-] {
    font-family: icefont;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ice-form-icon>input {
    padding-left: 30px!important;
}
.ice-form-label {
    width: 150px;
    margin-top: 5px;
    float: left;
}
