

.ice-common, .ice-widescreen, .ice-full {
    margin: 0 auto;
    height: auto;
}
.ice-full {
    width: 100%;
}
.ice-common {
    max-width: 1020px;
}
.ice-widescreen {
    max-width: 1220px;
}
/* DIV */

.ice-div {
    float: left;
    margin: 0 3% 0 0;
    display: block;
}
.ice-div-last {
    margin: 0;
}
.ice-div-1-1 {
    width: 100%;
    margin: 0;
}
.ice-div-1-2 {
    width: 48.5%;
}
.ice-div-1-3 {
    width: 30.2%;
}
.ice-div-2-3 {
    width: 65%;
}
.ice-div-1-4 {
    width: 22.75%;
}
.ice-div-1-6 {
    width: 14.16%;
}
.ice-div-4-10 {
    width: 39.5%;
}
.ice-div-6-10 {
    width: 57.5%;
}
.ice-div-3-10 {
    width: 28.5%;
}
.ice-div-7-10 {
    width: 68.5%;
}
.ice-div-2-10 {
    width: 18.5%;
}
.ice-div-8-10 {
    width: 78.5%;
}
.ice-div-1-10 {
    width: 8.5%;
}
.ice-div-9-10 {
    width: 88.5%;
}
.ice-div-1-12 {
    width: 5.58%;
}
/* IMG */

.ice-div img {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
/* PHONE CLEAR */

.onerow {
    clear: both;
    padding: 0 10px;
}
.ice-div-center-absolute {
    margin: 0px auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -o-box;
    -o-box-orient: vertical;
    -o-box-pack: center;
    -o-box-align: center;
    display: -ms-box;
    -ms-box-orient: vertical;
    -ms-box-pack: center;
    -ms-box-align: center;
    display: box;
    box-orient: vertical;
    box-pack: center;
    box-align: center;
}
.ice-div-center-plane {
    text-align: center;
    margin: 0px auto;
}
/*ADAPTIVE*/

@media all and (min-width: 1024px) {
    .onepcssgrid-1000 {
        max-width: 1000px;
    }
    .ice-div .onerow {
        padding: 0;
    }
}
@media all and (max-width: 768px) {
    .onerow {} .ice-div {
        float: none;
        width: 100%;
    }
    .ice-nav{
        display: none;
    }

}
