body {
    color: #666;
}
.ice-div a {
    text-decoration: none;
}

.ice-nav li {
    padding-left: 5px;
    line-height: 2.5em;
    cursor: pointer
}
.ice-nav li ul li {
    text-align: left;
}
.ice-grid {
    margin: 0 0 0 -25px;
    padding: 0;
    list-style: none;
}
.ice-grid>* {
    margin: 0;
    float: left;
}
.tm-icons > [class*="ice-width-"] {
    padding-bottom: 5px;
    padding-top: 5px;
}
.ice-width-medium-1-4 {
    width: 25%;
}
.ice-width-1-2, .ice-width-2-4, .ice-width-3-6, .ice-width-5-10 {
    width: 50%;
}
[class*=ice-width] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.ice-grid li {
    width: 24%;
    float: left;
}
.ding {
    position: fixed;
    top: 90%;
    left: 95%;
    width: 50;
    height: 50;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    background: #297fb8;
    cursor: pointer
}
.ding a {
    color: #fff;
    text-decoration: none;
}
.ice-nav-plus{
    margin-top: 70px;
}
.ice-nav-panel{
    padding-top: 70px;
}
.ice-div .ice-title{
    font-weight: bold;
}